body{
    height: 100%;
    width: 100%;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}
#card{
    height:400px;
    width:300px;
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
    padding:50px;
}
#card img{
    height:45%;
    width: 70%;
    object-fit:cover;
    object-position: center;
    border-radius: 10px;
    padding-left: 50px;
   
}
#card h1{
font-size:25px;
margin:10px 0;

text-align: center;
}
#card h5{
font-size: 25px;
color:red;
margin:20px;
color:rgb(55, 55, 235);

text-align: center;
}
#card button{
background-color: cadetblue;
color: #fff;
font-weight: 700px;
padding:12px 20px;
border-radius: 5px;
margin-left: 40px;
cursor: pointer;
}
#btn-container{
margin:auto;
}

.icon-large {
    font-size: 30px;
    margin-right: 10px; 
    vertical-align: middle; 
    top:10px; 
    transform: translateY(-50%);
    color:crimson;
    padding-left: 5px;
}
.icon{
    font-size: 50px;
    position: absolute;
    bottom:70%;
    color:rgb(238, 131, 131);
}
#icons{
    display:flex;
 justify-content: start;
 margin-top: 50px;
 justify-content: center;
}